.about-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 120px;
}

.about-content{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-header {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.about-text {
    padding: 5px;
    width: 80%;
}

.about-heart-logo {
    height: 50px;
    max-width: 135.81px;
    margin-top: 20px;
    margin-left: 20px;
}