.artview-content {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 130px;
}

.artview-nav {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
}

.back-title {
    font-size: 20px;
    font-weight: 700;
    margin-left: 10px;
}

.key-img {
    max-width: 100%;
    height: auto;
}

.post-title {
    font-size: 24px;
    line-height: 27px;
    margin-bottom: 11px;
}

.creator {
    font-size: 13px;
    line-height: 19.5px;
    margin-bottom: 21px;
}

.desc {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    margin-top: 25px;
}

.main-post {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-post-btn {
    color: #D38C00 !important;
    font-weight: 600;
    font-size: 24px;
}

.process-txt {
    font-size: 21px;
    line-height: 27px;
    width: 78%;
    text-align: center;
    margin-top: 70px;
    border-bottom: 0.43px solid black;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 12px;
}