.gallery-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 120px;
}

.gallery-content{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.gallery-nav {
    margin-bottom: 20px;
    width: 100%;
}

.gallery-header {
    font-size: 24px;
    text-align: center;
    line-height: 21px;
}

.back-btn {
    position: absolute;
    margin-top: -2px;
    margin-left: 5%;
}

.gallery-img {
    flex-basis: calc(100% / var(--cols) - var(--gap) / var(--cols) * (var(--cols) - 1));
    aspect-ratio: 1/1;
}

.gallery-post {
    --cols: 2;
    --gap: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--gap);
    width: 90%;
}

.internal-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.gallery-line {
    border-top: 0.43px solid black;
    width: 70.2%;
    margin-top: 0;
    margin-bottom: 45px;
}