.home-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 120px;
    align-items: center;
}

.home-content{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
}

.my-gallery-header, .home-mediums-header {
    margin-bottom: 26px;
}

.discover-header {
    margin-top: 54px;
    margin-bottom: 18px;
    letter-spacing: 0.1em;
}

.my-gallery-header {
    letter-spacing: 0.1em;
}

.home-header {
    line-height: 21px;
    font-size: 24px;
    font-weight: 400;
    width: 78%;
    text-align: center;
    margin-top: 40px;
    border-bottom: 0.43px solid black;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 12px;
    margin-bottom: 62px;
}

.discover-header, .my-gallery-header, .home-mediums-header {
    line-height: 21px;
    font-size: 24px;
    font-weight: 300;
}

.my-gallery-home-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-content: space-between;
    aspect-ratio: 1/1;
}

.my-art-link {
    width: 48%;
    height: 48%;
}

.art-link-inner-img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.home-gallery-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.home-upload-btn {
    margin-left: auto;
    width: 108px;
    height: 34px;
    background-color: #3a3a3a;
    border-radius: 26px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 275;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 17px;
}

.home-to-gallery-btn {
    font-size: 12px;
    font-weight: 300;
    text-decoration: underline;
    margin-top: 18px;
}