.upload-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: scroll;
    margin-bottom: 120px;
    padding-top: 100px;
}

#file-img {
    display: none;
}

.browse-label {
    border: 3px solid black;
    border-radius: 25px;
    padding: 10px 20px 10px 20px;
    text-align: center;
}

.upload-container img {
    width: 50%;
    margin-bottom: 30px;
}

.preview-img-window {
    width: 80%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.next-btn {
    color: black;
    font-weight: 600;
    font-size: 24px;
    align-self: flex-end;
    margin-right: 36px;
}

.post-label {
    font-size: 14px;
}

.metadata-input {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #404040;
    border-radius: 5px;
    height: 44px;
    margin-bottom: 16px;
    margin-top: 2px;
}

.desc-input {
    height: 85px;
}

.metadata-input:focus {
    outline: 2px solid #FFA800;
}

.upload-form {
    width: 80%;
}

.optional-txt {
    font-size: 12px;
    color: #9c9c9c;
}

.desc-txt, .desc-txt-p1 {
    color: #9c9c9c;
    font-size: 12px;
    font-weight: 400;
}

.desc-txt-p1 {
    margin-top: 0;
    margin-bottom: 0;
}

.tags-input {
    margin-bottom: 0px;
}

.tags-desc {
    margin-top: 0px;
}

.title-and-switch {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.add-process-btn {
    border: 2px solid black;
    border-radius: 50px;
    width: 168px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    font-weight: 600;
}

.process-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.control-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    margin-top: 30px;
}

.upload-back-btn {
    color: #9c9c9c;
}

.post-btn {
    color: black !important;
    font-size: 24px;
    font-weight: 600;
}

.post-btn, .post-btn:focus {
    outline: 0 !important;
    background: transparent;
    border: 1px solid transparent;
    box-shadow: none;
}
  
.post-btn:active {
    outline: 0 !important;
    background: transparent;
    border: 1px solid grey;
}

.hidden {
    display: none;
}

.red {
    color: #FF5353;
}