@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

html {
  background-image: url(../public/img/ProfileDesktopFloatingShapes.png);
  background-size: cover;
}

a, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
 }