.category-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.red-dot {
    
}
.card-container {
    width: 336px;
    height: 265px;
    outline-style: solid;
    border-radius: 25px;
    background-color: #c0c0c0;
    outline: none;
    margin: 26px;
}

.category-name {
    font-size: 32px;
    font-weight: 700;
}

.upload-number {
    font-weight: 400;
    font-size: 14px;
}

.category-img {
    width: 296px;
    padding: 25px 20px 6px 20px;
}