.navbar-container {
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    padding-top: 20px;
    background-color: white;
}

.logo {
    height: 50px;
}

.navbar-btn {
    text-align: right;
    font-weight: 500;
    size: 16px;
    padding-right: 15px;
}

.home-btn {
    color: #B0B0B0;
}

.my-gallery-btn {
    color: #B0B0B0;
    margin-top: 10px;
}

.title-text {
    font-size: 24px;
    color: #404040;
    margin-left: 20px;
    margin-bottom: 10px;
}

.art-text {
    font-weight: bold;
    color: #D38C00;
}

.nav-btn-orange {
    color: #ffa800;
}