.navbar-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 20px;
}

.nav-buttons {
    margin: 10px;
}

.logo {
    height: 50px;
}

.search-btn {
    text-align: center;
    align-items: center;
    border-radius: 50px;
    border-width: 3px;
    border-style: solid;
    width: 215px;
    height: 40px;
}

.search-bar {
    border: none;
    outline: none;
    align-items: center;
    padding: 10px;
    vertical-align: middle;
}

.title-text {
    font-size: 24px;
    color: #404040;
    margin-left: 20px;
    margin-bottom: 10px;
}

.art-text {
    font-weight: bold;
    color: #D38C00;
}