.process-view-card-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin-top: 40px;
}

.process-img {
    max-width: 100%;
    height: auto;
    align-self: center;
}

.title-txt {
    margin-top: 15px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
}

.view-card-desc-txt {
    font-weight: 300;
    font-size: 13px;
    line-height: 20px;
    margin-top: 15px;
    margin-bottom: 30px;
}